<%= form_with(model: @message, local: true) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> errors:</h2>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sender_id %>
    <%= form.collection_select :sender_id, @users, :id, :full_name, prompt: "Select Sender" %>
  </div>

  <div>
    <%= form.label :receiver_id %>
    <%= form.collection_select :receiver_id, @users, :id, :full_name, prompt: "Select Receiver" %>
  </div>

  <div>
    <%= form.label :chat_id %>
    <%= form.collection_select :chat_id, @chats, :id, :id, prompt: "Select Chat" %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= form.submit "Send Message" %>
<% end %>
