<h1>New Message</h1>

<%= form_with model: @message, local: true do |f| %>
  <% if @message.errors.any? %>
    <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :chat_id, "Chat" %>
    <%= f.select :chat_id, options_from_collection_for_select(@chats, :id, :id) %>
  </div>

  <div>
    <%= f.label :user_id, "Author" %>
    <%= f.select :user_id, options_from_collection_for_select(@users, :id, :email) %>
  </div>

  <div>
    <%= f.label :body, "Message Body" %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "Send Message" %>
<% end %>
