<h1>Chat Details</h1>

<p><strong>Sender ID:</strong> <%= @chat.sender_id %></p>
<p><strong>Receiver ID:</strong> <%= @chat.receiver_id %></p>
<p><strong>Created At:</strong> <%= @chat.created_at %></p>
<p><strong>Updated At:</strong> <%= @chat.updated_at %></p>

<%= link_to 'Back to Chats', chats_path %>
<%= link_to 'Back to list', users_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'New user', new_user_path %>